.nav{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   background-color: rgba(246, 255, 0, 0.5);
   border-radius: 2em;
   width:60em;
   height: 2.5em;
   padding: 10px 30px 10px 10px;
   margin: 20px 20px 0px 20px;
}
.divBotones {
   width: 93%;
   display: flex;
   justify-content: center;
}

.divAbout {
   width: 20%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.about {
   width: 38px ;
   
   &:hover {
      width: 43px;
   }
}

.divClearn {
   width: 20%;
   display: flex;
   justify-content: center;
   align-items: center;
}
 
 .clearn {
    width: 40px ;
    
    &:hover {
        width: 45px;
      }
   }
   
   .divHome {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .home {
    width: 40px ;
    
    &:hover {
       width: 45px;
      }
   }
   
   .divFavoritos {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .favoritos {
      width: 38px ;
      
      &:hover {
         width: 43px;
      }
   }

   .divRandom {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .random {
      width: 40px ;
      
      &:hover {
         width: 45px;
      }
   }
   
   
   .divLogOut {
      width: 7%;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .logOut {
      width: 38px ;
   
      &:hover {
          width: 45px;
      }
   }