.card {
    background: rgba(255, 255, 255, 0.4);
    margin: 20px;
    border-radius: 10px;
    padding: 8px;
    width: 250px;
    height: 27em;
    transform: translatey(-20px);
}

.img {
    max-width: 100%;
}

.close {
    display: flex;
    justify-content: flex-end;
    margin: 1px;
}

.boton {
    min-height: auto;
    justify-content: flex-end;
    background-color: red;
    color: white;
    border-radius: 5px;
    transform: translateY(30px);
    &:hover {
        background-color: rgb(115, 1, 1);
        cursor: pointer;
    }
}

.info {
    transform: translateY(-25px);
}

@font-face {
    font-family: numeros;
    src: url('./fuente/id/KaushanScript-Regular.ttf');
}
.id {
    font-family: numeros;
    margin: 1px;
    justify-content: center;
    font-size: 3em;
}

.textInfo {
    margin: 5px;
}

.NavLink {
    color: inherit;
    text-decoration: none;
}
