.card{
    background: rgba(255, 255, 255, 0.5);
    margin: 20px;
    border-radius: 10px;
    padding: 1em;

}

.close {
    display: flex;
    justify-content: flex-end;
    margin: 1px;
    display: flex;
}

@font-face {
    font-family: numeros;
    src: url('./fuente/KaushanScript-Regular.ttf');
}
.id {
    font-family: numeros;
    margin: 1px;
    width: min-content;
}
