.DivSearch {
   padding: 1em;
   display: flex;
   justify-content: center;
 }

 @font-face {
    font-family: idInput;
    src: url('./fuente/idInput/KaushanScript-Regular.ttf');
 }
 .Input {
    border-radius: 15px;
    background-color: rgb(161, 249, 249);
    width: 9.5em;

    transform: translateX();
    
    font-family: idInput;
    font-size: 30px;
 }

 .Btn {
    border-radius: 0.9em;
    padding: 0.6em;
    border: solid black 2.5px;
    background-color: #0420d4;
    color: white;
    font-weight: 700;
    font-size: 1em;
    position: absolute;
    transform: translateX(-5.5em) translateY(4.5px);
    &:hover {
        background-color: #011387;
        cursor: pointer;
    }

 }