.DivSearch {
   padding: 1em;
   display: flex;
   justify-content: center;
 }

 @font-face {
    font-family: idInput;
    src: url('./fuente/idInput/KaushanScript-Regular.ttf');
 }
 .Input {
    border-radius: 15px;
    background-color: rgb(161, 249, 249);
    width: 10em;
    transform: translateX(78px);
    font-family: idInput;
    font-size: 30px;
 }

 .Btn {
    border-radius: 0.9em;
    padding: 0.8em;
    border: solid black 2.5px;
    background-color: #0420d4;
    color: white;
    font-weight: 700;
    font-size: 1em;
    transform-style: preserve-3d;
    &:hover {
        background-color: #011387;
        cursor: pointer;
    }

 }