.App {
   text-align: center;
   background-size: contain;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 10px;
}

.navTit {
   display:flex;
   width: auto;
}

.saludo {
   color: white;
   font-family: numeros;
   position: absolute;
   top: 11.5%;
}

.favoritos {
   color: white;
   font-family: numeros;
   position: absolute;
   top: 11.5%;
}