.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(246, 255, 0, 0.5);
    border-radius: 2em;
    width:60em;
    height: 2.5em;
    padding: 10px 30px 10px 10px;
    margin: 20px 20px 0px 20px;
 }

 .logOut {
    width: 38px ;
    margin-left: 1.5em;
    margin-right: 1.5em;

    &:hover {
        width: 48px;
    }
 }
 
 .clearn {
    width: 40px ;
    margin-left: 1.5em;
    margin-right: 1.5em;

    &:hover {
        width: 50px;
    }
 }

 .home {
    width: 40px ;
    margin-left: 1.5em;
    margin-right: 1.5em;
    
    &:hover {
        width: 50px;
    }
 }

 .about {
    width: 40px ;
    margin-left: 1.5em;
    margin-right: 1.5em;
    
    &:hover {
        width: 50px;
    }
 }

 .random {
    width: 40px ;
    margin-left: 1.5em;
    margin-right: 1.5em;
    
    &:hover {
        width: 50px;
    }
 }

 .favoritos {
    width: 40px ;
    margin-left: 1.5em;
    
    &:hover {
        width: 50px;
    }
 }
